.view-display-id-uw_student_profile_block {
  background: #ddd;
  width: 194px;
  padding: 3px 6px 10px 10px;
  margin-bottom: 12px;
  font-size: 110%;
}
.view-display-id-uw_student_profile_block a {
  color: #000 !important;
  text-decoration: none;
}
.submit-student-profile a,
.browse-student-profiles a {
  display: block;
  background: #aaa;
  width: 170px;
  border: 3px solid #fff;
  padding: 4px 7px;
}
.submit-student-profile a {
  margin-top: 56px;
}
.submit-student-profile a:hover,
.browse-student-profiles a:hover {
  color: #fff !important;
}
.submit-student-profile a .arrow,
.browse-student-profiles a .arrow {
  padding: 8px 8px 7px 10px;
  background: url('../images/arrow.gif') no-repeat right center;
}
.submit-student-profile a .link {
  display: block;
  position: relative;
  background: url('../images/share_your_stories_button.gif') no-repeat left top;
  width: 194px;
  height: 68px;
  margin-top: -68px;
  top: 5px;
  left: -10px;
}
.view-display-id-uw_student_profile_block ul {
  overflow: auto;
  padding: 0;
}
.view-display-id-uw_student_profile_block li {
  clear: both;
  list-style: none;
  padding: 0;
}
.view-display-id-uw_student_profile_block .view-content {
  padding: 10px 0 0 0;
}
.view-display-id-uw_student_profile_block .view-content img {
  float: left;
  margin: 0 5px 10px 0;
  border: 3px solid #fff;
}
.view-display-id-uw_student_profile_block .view-content a:hover {
  text-decoration: underline;
}
.view-display-id-uw_student_profile_block .view-content p {
  margin: 0 4px 0 0;
  line-height: 130%;
}
.view-display-id-uw_student_profile_block .view-content p.name {
  font-weight: bold;
}
.view-display-id-uw_student_profile_block .view-content p.country {
  font-weight: bold;
  color: #666;
  border-bottom: 3px solid #fff;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
.view-display-id-uw_student_profile_block .view-content p.program {
  font-size: 80%;
  margin-bottom: 10px;
}
.view-display-id-uw_student_profile_listing .views-exposed-form {
  background: #ddd;
  padding: 4px 4px 1px 4px;
  margin-bottom: 20px;
  text-align: left;
}
.view-display-id-uw_student_profile_listing .views-exposed-form label {
  font-size: 90%;
  font-weight: normal;
  display: inline;
}
.view-display-id-uw_student_profile_listing .views-exposed-form .views-exposed-widget,
.view-display-id-uw_student_profile_listing .views-exposed-widget div {
  float: none;
  display: inline;
  padding: 0 0 0 5px;
  text-align: left;
}
.view-display-id-uw_student_profile_listing .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
  float: right;
}
.view-display-id-uw_student_profile_listing .views-row {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}
.node-student-profile h2 {
  margin: 0 0 3px 0;
}
.node-student-profile .field-name-field-photo img {
  float: left;
  border: 3px solid #fecb00;
  margin: 0 10px 10px 0;
}
.node-student-profile .student-profiles-bio p {
  margin: 0;
  font-size: 90%;
}
.node-student-profile p.wherefrom {
  font-weight: bold;
  font-size: 111%;
  color: #666;
}
.node-student-profile dt {
  clear: both;
  margin: 15px 0 5px 0;
  font-style: italic;
  font-weight: normal;
  color: #666;
}
.node-student-profile dd {
  margin-left: 0;
}
.node-student-profile .view-profile {
  font-size: 80%;
  float: right;
}
.block-uw-ct-student-profile {
  padding: 10px;
  border: 1px solid #999;
  margin-bottom: 15px;
}
.block-uw-ct-student-profile ul {
  margin-bottom: 0;
}
.block-uw-ct-student-profile li {
  padding: 0.5em 0 0 0;
}
